/* --------------- Vars -------------------- */

@import "../vars";

/* --------------- /vars -------------------- */

.cours-card-cnt_1 {
  width: 20%;
}

.cours-card {
  padding: $shift*8 $shift*12;

  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 4px 26px rgba(203, 203, 203, .25); 

  & + & {
    margin-top: $shift*3;
  }
}

.cours-card_name,
.cours-card_company,
.cours-card_review {
  font-weight: bold;
}

.cours-card_name {
  font-size: 16px;
  line-height: 24px;
}

.cours-card_company_cnt {
  padding-right: $shift*4;
}

.cours-card_company {
  font-size: 18px;
  line-height: 27px;
}

.cours-card_review {
  font-size: 12px;
  line-height: 27px;
  color: #b5b5b5;
}

.cours-card_oldprice {
  line-height: 27px;
  text-decoration-line: line-through;
  color: #b5b5b5;
}

.cours-card_price {
  font-size: 18px;
  line-height: 27px;
}

.cours-card_pricemonth {
  line-height: 27px;
  color: $main-color;
}