footer(class='footer')
  include footer-nav.pug
  div(class='island __shift')
    div(class='footer-bottom')
      div(class='flex __center')
        div(class='flex-i')
          a(href='', class='footer-logo')
            include ../components/logo.pug
        div(class='flex-i __wide')='2021 Logo Все права защищены'
        div(class='flex-i')
          include socials.pug