include footer-nav.mixin.pug

nav(class='footer-nav')
  div(class='island __shift')
    div(class='flex __5')
      div(class='flex-i')
        +footerNavItem('Category', ['link','link','link'], [['Temp 1','#'], ['Temp 2','/temp'], ['Duis aute irure','/temp']])
      div(class='flex-i')
        +footerNavItem('Schools', ['link','link'], [['Excepteur sint N1','#'], ['Excepteur sint N2','/temp']])
      div(class='flex-i')
        +footerNavItem('Reviews', ['link','link'], [['Duis aute irure 1','#'], ['Temp 2','/temp']])
      div(class='flex-i')
        +footerNavItem('Courses', ['link','link', 'link'], [['Cours N1','#'], ['Cours N2','/temp'], ['Cours N3','/temp']])
      div(class='flex-i')
        +footerNavItem('Levels', ['link','link'], [['Lorem ipsum','#'], ['Lorem ipsum N2','/temp']])