footer(class='footer')
  include footer-nav.pug
  div(class='island __shift')
    div(class='footer-bottom')
      div(class='flex __center')
        div(class='flex-i')
          a(href='', class='header-logo')
            include ../components/logo.pug
        div(class='flex-i')='2021 Logo Все права защищены'