header(class='header')
  div(class='flex __center')
    div(class='flex-i')
      a(href='', class='header-logo')
        include ../components/logo.pug
    div(class='flex-i')
      include nav.pug
    div(class='flex-i')
      include search.pug