div(class='search')
  form(method='GET', id='search')
    label(for='search-input')
      include search-ic.pug
    input(class='search-input', type='search', max='12', placeholder='Search', id='search-input')