div(class='top-courses')
  div(class='top-courses_h')='Top courses'
  div(class='top-list-corses')
    include cours/card.pug
    +card('Frontend developer', 'Abibas inc', '4.5', '58', 'any time', '1000', '560', '105')
    +card('Backend developer', 'Test inc', '2.5', '3', 'From January 2023', '2000', '860', '95')
    +card('Very looong name of cours', 'Test inc', '2.5', '3', 'From January 2023', '2000', '860', '95')