div(class='top-courses')
  div(class='top-courses_h')='Top courses'
  div(class='top-list-corses')
    include cours/card.pug
    +card('Frontend developer', 'Abibas inc', '4.5', '58')
    +card('Backend developer', 'Test inc', '2.5', '3  ')