doctype html
html(lang="en")
    head
      title Online logo - layout practice
      link(rel="stylesheet", href="./scss/style.scss")
        
    body
      div(class='site')
        section(class='middle')
          div(class='island __shift')
            include template/header/header.pug
          div(class='island __shift')
            include template/top.pug

        include template/footer/footer.pug