/* --------------- Vars -------------------- */

@import "vars";

/* --------------- /vars -------------------- */

.header {
  height: 70px;
}

.header-logo {
  display: inline-block;
  margin-right: $shift*17;

  width: 53px;
  height: 24px;

  svg {
    fill: #2b2b2b;
  }
}

@import "nav";
@import "search";