/* --------------- Vars -------------------- */

@import "vars";

/* --------------- /vars -------------------- */


.top-courses_h {
  padding-bottom: $shift*4;

  text-align: center;
  font-weight: 900;
  font-size: 30px;
  line-height: 39px;
}