<svg width="8" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M2.004 2.702c0-.088.012-.276.037-.565.026-.289.135-.591.33-.909.194-.316.509-.6.947-.852C3.753.126 4.383 0 5.205 0H7.52v2.523H5.825a.693.693 0 0 0-.466.187c-.14.124-.212.243-.212.352v1.57H7.52a32.06 32.06 0 0 1-.083.894l-.094.763a29.77 29.77 0 0 1-.114.716H5.13V14H2.004V7.005H.48V4.632h1.525v-1.93Z" fill="#fff"/>
</svg>