<svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#a)" fill="#fff">
    <path d="M9.625 0h-5.25A4.375 4.375 0 0 0 0 4.375v5.25A4.375 4.375 0 0 0 4.375 14h5.25A4.375 4.375 0 0 0 14 9.625v-5.25A4.375 4.375 0 0 0 9.625 0Zm3.063 9.625a3.066 3.066 0 0 1-3.063 3.063h-5.25a3.066 3.066 0 0 1-3.063-3.063v-5.25a3.066 3.066 0 0 1 3.063-3.063h5.25a3.066 3.066 0 0 1 3.063 3.063v5.25Z"/>
    <path d="M7 3.5a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7Zm0 5.688A2.19 2.19 0 0 1 4.812 7 2.19 2.19 0 0 1 7 4.812 2.19 2.19 0 0 1 9.188 7 2.19 2.19 0 0 1 7 9.188ZM10.762 3.704a.466.466 0 1 0 0-.933.466.466 0 0 0 0 .933Z"/>
  </g>
  <defs>
    <clipPath id="a"><path fill="#fff" d="M0 0h14v14H0z"/></clipPath>
  </defs>
</svg>